.footer {
    width: 100%;
    align-self: end;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    justify-items: center;

    margin-top: 5rem;
    border-top: 2px solid $base-color;
    padding-top: 2rem;

    // middle part - logo/copy
    &__middle {
        display: grid;
        justify-items: center;
    }
    &__logo {
        width: 5rem;
    }
    &__copy {
        font-size: 1.2rem;
        color: #666;
    }

    // info
    &__info {
        display: grid;
        grid-auto-flow: column;
        gap: 3rem;
    }
    &__links {
        margin: 1rem 0 1rem 0;
        display: grid;
        align-items: center;
    }
    &__link {
        text-decoration: none;
        color: #666;
        font-size: 1.4rem;
        transition: .3s;
    }
    &__social {
        display: grid;
        align-items: center;
        gap: 1rem;
        grid-template-columns: repeat(3, 3rem)
    }
    &__icon {
        height: 3rem;
        width: 3rem;
    }


    &__newsletter {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 1rem;
    }
    &__input {
        border-radius: 5px;
        outline: none;
        border: 1px solid #000;
        width: 20rem;
        padding: 1rem;
    }
    &__button {
        cursor: pointer;
    }
}




//social media colors
.facebook {
    transition: .3s;
    fill: #3b5998;
    &:hover {
        transform: scale(1.2);
    }
}
.twitter {
    transition: .3s;
    fill: #55acee;
    &:hover {
        transform: scale(1.2);
    }
}
.instagram {
    transition: .3s;
    fill: #517fa4;
    &:hover {
        transform: scale(1.2);
    }
}