.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  &__p {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: $font-dec;
    align-self: center;
    margin-bottom: -6rem;
  }
  &__logo {
    height: 12rem;
    width: 12rem;
    margin-bottom: 2rem;
    &:hover {
      animation: bounce 0.5s;
    }
  }
  &__h1 {
    margin-bottom: -2rem;
  }
}

.nav {
  display: grid;
  justify-items: center;

  &__list {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    & li {
      margin: 0 2rem;
      transition: 0.1s;
      &:hover {
        transform: scale(1.05);
      }
    }
    & li a {
      font-family: $font-main;
      text-decoration: none;
      font-size: 2.2rem;
      color: black;
      transition: 0.1s;
      border-bottom: 0px solid $base-color;
      &:hover {
        border-bottom: 3px solid $base-color;
      }
    }
  }
  &__devider {
    width: 40rem;
    margin-top: 2rem;
  }
}
