.header {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    &__p {
        font-size: 2rem;
        text-transform: uppercase;
        font-family: $font-dec;
        align-self: center;
        margin-bottom: -5rem;
    }
    &__logo {
        height: 12rem;
        width: auto;
        margin-bottom: 2rem;
    }
}