.nav {
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__list {
        display: flex;

        list-style: none;
    }

    &__item {
        margin: 2rem 2rem 0 2rem;
    }
    &__link {
        font-family: $font-dec;
        text-decoration: none;
        font-size: 2.5rem;
        color: black;
        transition: .3s;
        border-bottom: 0px solid $base-color;
        &:hover {
            border-bottom: 5px solid $base-color;
        }
    }
    &__devider {
        width: 40rem;
        margin-top: 2rem;
    }
}