.about {
    display: grid;
    justify-items: center;
    margin-top: 5rem;
    padding: 0 32% 0 32%;
    @media only screen and (max-width: 1500px) {
        padding: 0 25% 0 25%;
    }

    &__header {
        border-bottom: 5px solid $base-color;
        margin-bottom: 3.5rem;
    }

    &__btn-link {
        text-decoration: none;
        color: black;
        font-family: $font-dec;
        font-size: 2.5rem;
    }

    &__btns {
        display: flex;
        margin-top: 6rem;
    }
}