.menu {
    &__category {
        display: grid;
        // grid-template-columns: auto auto auto;
        grid-auto-flow: column;
        // grid-template-rows: auto auto;
        column-gap: 2rem;
        justify-items: center;
        padding: .5rem;
    }
    &__category-name {
        cursor: pointer;
        transition: .3s;
        border-bottom: 0px solid $base-color;
        &:hover {
            border-bottom: 5px solid $base-color;
            transform: scale(1.1);
        }
        &--main {
            transition: .3s;
            border-bottom: 5px solid $base-color;
            &:hover {
                transform: none;
            }
        }
    }
}